{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="header-home">
        <h1 class="title head">Welcome</h1>
    </div>
    <div class="container-cards">
        <!-- replace by a for loop to get projects from database -->
        <div class="cards">
        {% for project in projects %}
            <div class="card-wrapper">
                <h3 class="title sub">By {{ project.userId }}</h3>
                <p>{{ project.title }}</p>
                <img class="img-card" href="{{ asset(project.picture) }}">
            </div>
        {% endfor %}
            <!--- end loop-->
        </div>
        <a class="btn" href="">go to projects</a>
    </div>
    <div class="border"></div>
    <div class="container-origins">
        <div class="content-origins">
            <p class="presentation-text">
                is a global platform for all the students
                who would like to upload their projects.
                The goal is to create a global place to centralize them.
            </p>
            <p>Want to know more about us ?</p>
            <a class="btn" href="#">go to faq</a>
        </div>
        <img class="cid-logo" src="{{ asset('assets/logo/cid_logo.png') }}" alt="logo cid">
    </div>
    <div class="container-cards dark">
        <h2 class="title sub">Latest News</h2>
        <div class="cards">
            {% for article in articles %}
                <div class="card-wrapper">
                    <img class="img-card" href="{{ asset(article.picture) }}">
                    <p>{{ article.title }}</a>
                </div>
            {% endfor %}
        </div>
        <!-- end loop -->
        <a class="btn" href="#">go to news</a>
    </div>
{% endblock %}
