{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.name, {
            label: 'Nom'
        }) }}
        {{ form_row(registrationForm.surname, {
            label: 'Prenom'
        }) }}
        {{ form_row(registrationForm.email, {
            label: 'Email'
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.picture, {
            label: 'Photo de profil'
        }) }}
        {{ form_row(registrationForm.grade, {
            label: 'Niveau d\'étude'
        }) }}
        {{ form_row(registrationForm.git, {
            label: 'Profil GitHub'
        }) }}
        {{ form_row(registrationForm.agreeTerms, {
            label: 'Accepter les termes'
        }) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
