<nav>
	<div class="content">
		<a href="{{path ('app_home')}}">Accueil</a>
		<ul class='nav-links'>
			<li><a href="{{ path('app_users') }}">Utilisateurs</a></li>
			<li><a href="{{ path('app_project') }}">Les Projets</a></li>
			{% if app.user %}
				<li><a href="{{ path('app_user_profile', {id:app.user.id}) }}">Ton Profil</a></li>
				<li><a href="{{ path('app_logout') }}">Se deconnecter</a></li>
				{% else %}
				<li><a href="{{ path('app_login') }}">Connectes-toi</a></li>
				<li><a href="{{ path('app_register') }}">Inscris-toi</a></li>
			{% endif %}
		</ul>
	</div>
</nav>