{% extends 'base.html.twig' %}

{% block title %}Hello ProjectShow!
{% endblock %}

{% block body %}
	<h1>{{ project.title }}</h1>
	<p>{{ project.description }}</p>
	<p>Fait par {{ project.userId }}</p>
	<img src="{{ asset(project.picture) }}" alt="">
	{% if project.urlGit != null %}
		<a href="{{ project.urlGit }}" target="_blank">Git du projet</a>
	{% endif %}
	{% if project.urlVideo != null %}
		<a href="{{ project.urlVideo }}" target="_blank">Video du projet</a>
	{% endif %}

	<h2>Ajouter un Commentaire</h2>
	{{ form(commentForm) }}

		{% for comment in comments %}
			<p>{{ comment.name }}</p>
			<p>{{ comment.description }}</p>
		{% endfor %}

		<a href="{{ path('app_project') }}">Retourner à la liste des projets</a>
	{% endblock %}
