{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<h1>Ton Profil</h1>

<h2>{{ user.name }}</h2>
<h3> {{ user.surname }} </h3>
<h4> {{ user.email }} </h4>
<p>{{ user.isAsso }}</p>
<img src="{{ user.picture }}" alt="">
<p>{{ user.description }}</p>

{# Twig section to see skills of the user  #}
<p>Skills</p>
{% for skill in user.skills %}
    <p>{{ skill.label }}</p>
{% endfor %}


{# foreach #}
<p>All Project</p>
    {% for project in projects %}
        
        <div class="project" style="background-color: red" >
            <p> {{ project.title }} and created at {{ project.CreatedAt | date("d/m/Y") }}</p>
            <img src=" {{ project.picture }} " alt="">
            <p> {{ project.description }} </p>

        {% for techno in project.technos %}
            <p> {{ techno.label }} </p>
        {% endfor %}
            <a href="{{ project.urlgit }}" target="_blanck">Git Hub</a>
            <a href="{{ project.urlvideo }}" target="_blanck">video</a>

        </div>
        <a href="{{ path('app_user_delete', {id:app.user.id}) }}">supprimer un project</a>
        <a href="#">éditer un project</a>
    {% endfor %}

{# foreach #}
<p>socials media</p>
<a href="{{  user.git }}" target="_blanck" >Git Hub</a>
<a href="{{  user.linkedin }}"target="_blanck">linkedin</a>
<a href="{{  user.instagram }}"target="_blanck">instagram</a>
<a href="{{  user.twitter }}"target="_blanck">twitter</a>
<a href="{{  user.dribbble }}"target="_blanck">dribbble</a>
<a href="{{  user.stackOverflow }}"target="_blanck">stackOverflow</a>

<p>Autre</p>
<a href="{{ path('app_user_profile_edit', {id:app.user.id}) }}">Edit ton profil</a>
<a href="{{ path('app_project_new', {id: app.user.id}) }}">Ajouter un projet</a>

{% endblock %}