{% extends 'base.html.twig' %}

{% block title %}Hello {{ app.user.name }} !{% endblock %}

{% block body %}
    <div class="main-profile">
        <div class="header-profile">
            <div class="container-header">
                {% if app.user.id == user.id %}
                    <h1 class="title head">Ton profil {{ app.user.name }}</h1>
                {% else %}
                    <h2 class="title sub"> {{ user.name }}</h2>
                {% endif %}
                <h4> {{ user.email }} </h4>
                <p>{{ user.isAsso }}</p>
                <p>A{{ user.grade }}</p>
                <p>{{ user.description }}</p>
            </div>
            <img src="{{ user.picture }}" alt="profile photo">
        </div>

        <div class="socials-profile">
            <h2 class="title">Socials</h2>
            {% for profil in user %}
                <a href="{{  profil.git }}" target="_blanck" ><img src="{{ asset('assets/logo/github-black.svg') }}" alt="logo socials of user"></a>
                <a href="{{  profil.linkedin }}" target="_blanck"><img src="{{ asset('assets/logo/linkedin.svg') }}" alt="logo socials of user"></a>
                <a href="{{  profil.instagram }}" target="_blanck"><img src="{{ asset('assets/logo/instagram.svg') }}" alt="logo socials of user"></a>
                <a href="{{  profil.twitter }}" target="_blanck"><img src="{{ asset('assets/logo/twitter.svg') }}" alt="logo socials of user"></a>
                <a href="{{  profil.dribbble }}" target="_blanck"><img src="{{ asset('assets/logo/Dribbble_logo_perple.webp') }}" alt="logo socials of user"></a>
                <a href="{{  profil.stackOverflow }}" target="_blanck"><img src="{{ asset('assets/logo/stackoverflow.webp') }}" alt="logo socials of user"></a>
            {% endfor %}
        </div>

        <h2 class="title">Projects</h2>
        <div class="projects-profile">
            {% for project in projects %}
                <div class="project">
                    <img src=" {{ project.picture }} " alt="project img">
                    <div class="project-container">
                        <p>{{ project.title }}</p>
                        <p> {{ project.description }} </p>
                        {% for techno in project.technos %}
                            <p> {{ techno.label }} </p>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="edit-container">
            {% if app.user.id == user.id %}
                <a class="btn" href="{{ path('app_user_profile_edit', {id:app.user.id}) }}">Modifier ton profil</a>
                <a class="btn" href="{{ path('app_project_new', {id: app.user.id}) }}">Ajouter un projet</a>
            {% endif %}
        </div>
    </div>
{% endblock %}